*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    
}

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    background-color: #5d5c61;
    font-family: 'Poppins', sans-serif;
}

.logo{
    color: rgb(220,220,200);
    background: transparent;
    background-color: transparent;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 22px;
    padding-left: 30px;
}

.nav-links{
    display: flex;
    width: 40%;
    justify-content: space-around;
}

.nav-links li{
    list-style: none;
}

.nav-links a{
    color: rgb(220,220,200);
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 14px;
    align-items: center;
}


.render{
    background-color: rgb(220,220,220);
}

.text_box{
    text-align: center;
    width: 600px;
    height: 35px;
}

.search_title{
    font-family: 'Poppins', sans-serif;
    font-size: 20;
    
}

.card{
    height: max-content;
    background-color: #b1a296;
    padding: 1px;
}

.card-title{
    font-family: 'Poppins', sans-serif;
}
.card-info{
    font-family: 'Poppins', sans-serif;
    font-size: 14;
}



@media screen and (max-width:1024px){
    .nav-links{
        width: 60%;
    }
}

